.navs {
  margin: 10px;
  background-color: #ffffe6 !important;
  border-radius: 20px !important;
  font-size: large;
}

.navsPhoneBook {
  border-radius: 20px !important;
  font-size: large;
  margin: 10px;
}

.navItem {
  display: flex;
}

.navDisableItem {
  opacity: 30%;
  display: flex;
}

.navLinkButton {
  color: #fa647d !important;
  align-self: center;
}

.navLinkButton:hover {
  color: #f7b8b6 !important;
  transition: color 0.8s ease;
  transform: scale(1.1);
  transition: 0.5s;
}

.homeNavLinkButton {
  color: #fa647d !important;
  align-self: center;
  cursor: default;
}

.menuNavLinkButton {
  align-self: center;
  cursor: default;
}

.musicNavLinkButton {
  align-self: center;
  cursor: default;
}

.jobsNavLinkButton {
  align-self: center;
  cursor: default;
}

.tryItOnAppNavLinkButton {
  color: #212529 !important;
  align-self: center;
  cursor: default;
}

.phoneBookNavLinkButton {
  color: #212529 !important;
  align-self: center;
  cursor: default;
}

.phoneBookNavLinkButton:hover {
  color: #212529 !important;
}

.aboutMeNavLinkButton {
  align-self: center;
  cursor: default;
}

.disableNavLinkButton {
  color: #fa647d !important;
  margin-bottom: -20px;
  cursor: default;
}

.activeBar {
  background-image: radial-gradient(#f7b8b6, #ffffe6) !important;
  border-radius: 10px !important;
}
