.navs {
  margin: 10px;
  background-color: #ffffe6 !important;
  border-radius: 20px !important;
  font-size: large;
}

.navsPhoneBook {
  border-radius: 20px !important;
  font-size: large;
  margin: 10px;
}

.navsAboutMe {
  background-color: #806058 !important;
  border-radius: 20px !important;
  font-size: large;
  margin: 0px 10px 10px 10px;

  .navLinkButton {
    color: #deb887 !important;
    align-self: center;
  }

  .navLinkButton:hover {
    color: #212529 !important;
    transition: color 0.8s ease;
    transform: scale(1.1);
    transition: 0.5s;
  }

  .disableNavLinkButton {
    color: #fcebb6 !important;
    margin-bottom: -20px;
    cursor: default;
  }

  .navDisableItem {
    opacity: 30%;
    display: flex;
  }

  .disabledMessage {
    font-size: 12px;
    color: #212529;
  }

  .aboutMeActiveBar {
    background-image: radial-gradient(#deb887, #fcebb6) !important;
    border-radius: 10px !important;
    color: #212529 !important;
    font-weight: bold;
  }
}

.navsMusic {
  /* background-color: #806058 !important; */
  background: linear-gradient(
    225deg,
    #000002,
    #161f1c,
    #222b4c,
    #193b7a,
    #8a86b9,
    #d19c94,
    #895965
  );
  border-radius: 20px !important;
  font-size: large;
  margin: 0px 10px 10px 10px;

  .navLinkButton {
    color: #e6e6fa !important;
    align-self: center;
  }

  .navLinkButton:hover {
    color: #e6e6fa !important;
    transition: color 0.8s ease;
    transform: scale(1.1);
    transition: 0.5s;
  }

  .disableNavLinkButton {
    color: #e6e6fa !important;
    margin-bottom: -20px;
    cursor: default;
  }

  .musicActiveBar {
    border: thick solid;
    border-radius: 10px !important;
  }
}

.navItem {
  display: flex;
}

.navDisableItem {
  opacity: 40%;
  display: flex;
}

.navLinkButton {
  color: #fa647d !important;
  align-self: center;
}

.navLinkButton:hover {
  color: #f7b8b6 !important;
  transition: color 0.8s ease;
  transform: scale(1.1);
  transition: 0.5s;
}

.homeNavLinkButton {
  color: #fa647d !important;
  align-self: center;
  cursor: default;
}

.relaxNavLinkButton {
  align-self: center;
  cursor: default;
}

.musicNavLinkButton {
  color: #e6e6fa !important;
  align-self: center;
  cursor: default;
}

.jobsNavLinkButton {
  align-self: center;
  cursor: default;
}

.tryItOnAppNavLinkButton {
  color: #212529 !important;
  align-self: center;
  cursor: default;
}

.phoneBookNavLinkButton {
  color: #212529 !important;
  align-self: center;
  cursor: default;
}

.phoneBookNavLinkButton:hover {
  color: #212529 !important;
}

.aboutMeNavLinkButton {
  color: #212529 !important;
  align-self: center;
  cursor: default;
}

.disableNavLinkButton {
  color: #fa647d !important;
  margin-bottom: -20px;
  cursor: default;
}

.activeBar {
  background-image: radial-gradient(#f7b8b6, #ffffe6) !important;
  border-radius: 10px !important;
}

@media screen and (max-width: 768px) {
  .navs {
    font-size: small;
  }

  .navsPhoneBook {
    font-size: small;
  }

  .navsAboutMe {
    font-size: small;
  }
  .disabledMessage {
    font-size: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .navs {
    font-size: medium;
  }

  .navsPhoneBook {
    font-size: medium;
  }

  .navsAboutMe {
    font-size: medium;
  }

  .disabledMessage {
    font-size: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .navs {
    font-size: large;
  }

  .navsPhoneBook {
    font-size: large;
  }

  .navsAboutMe {
    font-size: large;
  }

  .disabledMessage {
    font-size: 12px;
  }
}
