.container {
  color: rgb(33, 37, 41);
  font-weight: bold;
  height: 100vh !important;
  max-width: 100vw !important;
  overflow: auto;
  background: radial-gradient(
    farthest-corner circle at 80% top,
    rgb(0, 255, 242),
    rgb(255, 0, 221)
  );

  .contentFrame {
    margin: 1.8% 7%;
  }
}

.hr {
  border: 1px solid;
  border-color: black;
  margin: 5px 0px;
}

.noPhoneContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .credit {
    font-size: xx-small;
    font-style: italic;
    font-weight: lighter;
    position: relative;
    bottom: 40px;
  }

  .emptyCaption {
    font-size: x-large;
  }

  .img {
    max-width: 380px;
    max-height: 380px;
    background: radial-gradient(rgba(255, 255, 255), rgba(255, 255, 255, 0.9));
    border-radius: 20%;
    box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 20px 10px;
  }
}

.header2 {
  text-align: left;
  padding: 5% 0% 2% 15%;
}
.formContainer {
  margin: 0% 0% 15% 15%;

  .formContent {
    text-align: left;
  }
}
p {
  color: rgb(33, 37, 41);
  font-weight: 400;
}

.table {
  padding: 5% 15%;
  font-weight: 100;
}

.PCView {
  align-items: center;
  text-align: center;
}
.phoneView {
  padding-top: 20px;
}

@media only screen and (min-width: 768px) {
  .PCView {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .phoneView {
    display: none;
  }
}
