/* * {
  box-sizing: border-box;

  /* background: linear-gradient(
    to top,
    #005bac,
    #0067cc,
    #0078d7,
    #008ae6,
    #00a4ef,
    #00b8e6,
    #00cffa,
    #00e0a6
  ); */
  /* background: linear-gradient(
    to top,
    #000002,
    #161f1c,
    #222b4c,
    #193b7a,
    #8a86b9,
    #d19c94,
    #895965,
    #a08013,
    #73140e
  ); */
/* 
.body {
  background-color: #fcebb6;
  color: #221811;
  font-family: Verdana, Arial, sans-serif;
  /* background-image: url(images/background.gif); 
}

.header {
  background-color: #806058;
  height: 85px;
}

.main {
  padding: 0 0 2em 0;
  margin-left: 200px;
  background-color: #fef6c2;
}

.h1 {
  padding-top: 45px;
  padding-left: 220px;
  font-size: 3em;
}

.h4 {
  background-color: #d2b48c;
  font-size: 1.2em;
  padding-left: 10px;
  padding-bottom: 5px;
}

.details {
  padding-left: 20%;
  padding-right: 20%;
} */
